<%- include('../partials/header') %>

<div class="container mb-4">
	<div class="row">
		<div class="col-md-3">
            <h5 class="mb-2 ml-2">
                Basic Info
            </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <h6 class="mb-1 text-muted">Difficulty:</h5>
                        <p class="mb-0"><%= trail.difficulty %></p>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1 text-muted">Location:</h5>
                        <p class="mb-0"><%= trail.location %></p>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1 text-muted">Distance:</h5>
                        <p class="mb-0"><%= trail.distance %> km</p>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1 text-muted">Elevation Gain:</h5>
                        <p class="mb-0"><%= trail.elvagain %> m</p>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-1 text-muted">Route Type:</h5>
                        <p class="mb-0"><%= trail.type %></p>
                </li>
            </ul>
            <a href="/trails" class="btn btn-block btn-secondary border-2 mt-3 mb-4">Go Back</a>
		</div>
		<div class="col-md-9">
			<div class="card mb-4">
				<img class="card-img-top detail-img" src="<%= trail.image %>">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<h5><a href="#"><%= trail.name %></a></h5>
                        <div>
                            <p>
                                <strong>Ratings: </strong>5 / 5
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <em class="text-muted">Submitted by <%= trail.author.username %></em>
                        <div>
                            <% if (currentUser && trail.author.id.equals(currentUser._id)) { %>
                            <a class="mr-2 btn btn-sm btn-info" href="/trails/<%= trail._id %>/edit">
                                Edit
                            </a>
                            <form class="d-inline" action="/trails/<%= trail._id %>?_method=DELETE" method="POST">
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <div class="border-top my-3"></div>
                    <p><%= trail.description %></p>
                    <div class="border-top my-3"></div>
                    <p class="lead">
                        <span class="badge badge-light">ocean view</span>
                        <span class="badge badge-light">dogs friendly</span>
                        <span class="badge badge-light">well maintained</span>
                        <span class="badge badge-light">forest</span>
                        <span class="badge badge-light">whales</span>
                        <span class="badge badge-light">rocky</span>
                        <span class="badge badge-light">iceberg</span>
                    </p>
				</div>
            </div>
            

            <!-- Comments -->
			<div class="card mb-4">
				<div class="card-header">
					<div class="d-flex justify-content-between align-items-center mx-1">
						<h5>Reviews</h5>
						<a class="btn btn-sm btn-success" href="/trails/<%= trail._id %>/comments/new">Leave A Review</a>
					</div>
				</div>
                <div class="card-body">
                    <!-- display existing comments -->
                    <% trail.comments.forEach( (comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right">
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="mt-2">
                                    <a class="btn btn-info btn-sm mr-2" href="/trails/<%= trail._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form class="d-inline" action="/trails/<%= trail._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                                <% } %>
                            </span>
                            <p><%= comment.text %></p>
                            <hr>
                        </div>
                    </div>
                    <% }) %>
                </div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>